<p>&nbsp;</p>

{{!-- Flexbox container to setup 3 boxes --}}
<div class="flexbox-container">

    {{#each airports}}
    {{!-- Airport 1 --}}
    <div class="flexbox-item">
        <h3 class="text-center">{{name}}</h3>
        {{!-- Grid container within flexbox --}}
        <div class="grid-container">
            
            {{!-- First row --}}
            {{!-- Stats --}}
            <div class="grid-item grid-inner-container border">
                
                {{!-- Location --}}
                <div> Location: </div>
                <div> {{iso_region}} {{municipality}} </div>
                
                {{!-- GPS --}}
                <div> GPS Code: </div>
                <div> {{gps_code}} </div>

                {{!-- Elevation --}}
                <div> Elevation: </div>
                <div> {{elevation_ft}} </div>

                {{!-- Landing Fee --}}
                <div> Landing Fee: </div>
                <div>
                    <span id="landing_fee_value{{@index}}"></span> 
                </div>

                <div class="grid-inner-full-column">Convert Currency To:</div>
                <div>
                    <select name="toCurrency" id="toCurrency{{@index}}">
                        <option value=""></option>
                        <option value="Australia">Australia</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Canada">Canada</option>
                        <option value="China, P.R.">China, P.R.</option>
                        <option value="Denmark">Denmark</option>
                        <option value="EMU Members">Euro</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="India">India</option>
                        <option value="Japan">Japan</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Mexico">Mexico</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Norway">Norway</option>
                        <option value="Singapore">Singapore</option>
                        <option value="South Africa">South Africa</option>
                        <option value="South Korea">South Korea</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Thailand">Thailand</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Venezuela">Venezuela</option>
                    </select>
                </div>
                <div class="center2"><button onclick="convert({{@index}})">Convert</button></div>

                {{!-- Traffic --}}
                <div> Traffic: </div>
                <div> {{type}} </div>

            </div>
            
            {{!-- Photo --}}
            <div class="grid-item">
                <span id="photo-{{@index}}"></span>
            </div>

            {{!-- Last row --}}
            <div id="wikiInfo{{@index}}" class="grid-full-column">
                {{wikipedia_link}}
                <p>
                    <span id="airport-info-{{@index}}"></span>
                </p>
            </div>
        {{!-- End grid container within flexbox --}}
       </div>
    {{!-- End Airport Listing --}}
    </div>
    {{/each}}

{{!-- End flexbox container --}}
</div>

<script src="js\dataPage.js"></script>
