<div class="text-center">
    <p>&nbsp;</p>
    <h3>Browse Popular US Airports</h3>
</div>

<form id="searchResults">
    <div class="margin-left">
        <p>Jump to a state: 
            <a href="#stateA">A</a>
            <a href="#stateC">C</a>
            <a href="#stateD">D</a>
            <a href="#stateF">F</a>
            <a href="#stateG">G</a>
            <a href="#stateH">H</a>
            <a href="#stateI">I</a>
            <a href="#stateK">K</a>
            <a href="#stateL">L</a>
            <a href="#stateM">M</a>
            <a href="#stateN">N</a>
            <a href="#stateO">O</a>
            <a href="#stateP">P</a>
            <a href="#stateR">R</a>
            <a href="#stateS">S</a>
            <a href="#stateT">T</a>
            <a href="#stateU">U</a>
            <a href="#stateV">V</a>
            <a href="#stateW">W</a>
        </p>
        <p>&nbsp;</p>
    </div>

    <div class="text-center sticky">
        <p>&nbsp;</p>
        <button onclick="compare()">Compare</button>
    </div>

    {{!-- A --}}
    <div class="margin-left">
        <a name="stateA"><h4>A</h4></a><br />

        <a href="/sitePage1?stateSearch=US-AL" class="stateLink">Alabama</a><br /><br />
        {{#each AL}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
       
        <a href="/sitePage1?stateSearch=US-AK">Alaska</a><br /><br />
        {{#each AK}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-AZ">Arizona</a><br /><br />
        {{#each AZ}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-AR">Arkansas</a><br /><br />
        {{#each AR}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- C --}}
    <div class="margin-left">
        <a name="stateC"><h4>C</h4></a><br />

        <a href="/sitePage1?stateSearch=US-CA">California</a><br /><br />
        {{#each CA}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-CO">Colorado</a><br /><br />
        {{#each CO}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-CT">Connecticut</a><br /><br />
        {{#each CT}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- D --}}
    <div class="margin-left">
        <a name="stateD"><h4>D</h4></a><br />

        <a href="/sitePage1?stateSearch=US-DE">Deleware</a><br /><br />
        {{#each DE}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- F --}}
    <div class="margin-left">
        <a name="stateF"><h4>F</h4></a><br />

        <a href="/sitePage1?stateSearch=US-FL">Florida</a><br /><br />
        {{#each FL}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- G --}}
    <div class="margin-left">
        <a name="stateG"><h4>G</h4></a><br />

        <a href="/sitePage1?stateSearch=US-GA">Georgia</a><br /><br />
        {{#each GA}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- H --}}
    <div class="margin-left">
        <a name="stateH"><h4>H</h4></a><br />

        <a href="/sitePage1?stateSearch=US-HI">Hawaii</a><br /><br />
        {{#each HI}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- I --}}
    <div class="margin-left">
        <a name="stateI"><h4>I</h4></a><br />

        <a href="/sitePage1?stateSearch=US-ID">Idaho</a><br /><br />
        {{#each ID}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-IL">Illinois</a><br /><br />
        {{#each IL}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-IN">Indiana</a><br /><br />
        {{#each IN}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-IA">Iowa</a><br /><br />
        {{#each IA}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- K --}}
    <div class="margin-left">
        <a name="stateK"><h4>K</h4></a><br />

        <a href="/sitePage1?stateSearch=US-KS">Kansas</a><br /><br />
        {{#each KS}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-KY">Kentucky</a><br /><br />
        {{#each KY}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- L --}}
    <div class="margin-left">
        <a name="stateL"><h4>L</h4></a><br />

        <a href="/sitePage1?stateSearch=US-LA">Louisiana</a><br /><br />
        {{#each LA}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- M --}}
    <div class="margin-left">
        <a name="stateM"><h4>M</h4></a><br />

        <a href="/sitePage1?stateSearch=US-ME">Maine</a><br /><br />
        {{#each ME}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-MD">Maryland</a><br /><br />
        {{#each MD}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-MS">Massachusetts</a><br /><br />
        {{#each MS}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-MI">Michigan</a><br /><br />
        {{#each MI}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-MN">Minnesota</a><br /><br />
        {{#each MN}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-MS">Mississippi</a><br /><br />
        {{#each MS}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-MO">Missouri</a><br /><br />
        {{#each MO}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-MT">Montana</a><br /><br />
        {{#each MT}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- N --}}
    <div class="margin-left">
        <a name="stateN"><h4>N</h4></a><br />

        <a href="/sitePage1?stateSearch=US-NE">Nebraska</a><br /><br />
        {{#each NE}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-NV">Nevada</a><br /><br />
        {{#each NV}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-NH">New Hampshire</a><br /><br />
        {{#each NH}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-NJ">New Jersey</a><br /><br />
        {{#each NJ}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-NM">New Mexico</a><br /><br />
        {{#each NM}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-NY">New York</a><br /><br />
        {{#each NY}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-NC">North Carolina</a><br /><br />
        {{#each NC}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-ND">North Dakota</a><br /><br />
        {{#each ND}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- O --}}
    <div class="margin-left">
        <a name="stateO"><h4>O</h4></a><br />

        <a href="/sitePage1?stateSearch=US-OH">Ohio</a><br /><br />
        {{#each OH}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-OK">Oklahoma</a><br /><br />
        {{#each OK}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-OR">Oregon</a><br /><br />
        {{#each OR}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- P --}}
    <div class="margin-left">
        <a name="stateP"><h4>P</h4></a><br />

        <a href="/sitePage1?stateSearch=US-PA">Pennsylvania</a><br /><br />
        {{#each PA}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- R --}}
    <div class="margin-left">
        <a name="stateR"><h4>R</h4></a><br />

        <a href="/sitePage1?stateSearch=US-RI">Rhode Island</a><br /><br />
        {{#each RI}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- S --}}
    <div class="margin-left">
        <a name="stateS"><h4>S</h4></a><br />

        <a href="/sitePage1?stateSearch=US-SC">South Carolina</a><br /><br />
        {{#each SC}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-SD">South Dakota</a><br /><br />
        {{#each SD}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- T --}}
    <div class="margin-left">
        <a name="stateT"><h4>T</h4></a><br />

        <a href="/sitePage1?stateSearch=US-TN">Tennessee</a><br /><br />
        {{#each TN}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-TX">Texas</a><br /><br />
        {{#each TX}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
    </div>

    {{!-- U --}}
    <div class="margin-left">
        <a name="stateU"><h4>U</h4></a><br />

        <a href="/sitePage1?stateSearch=US-UT">Utah</a><br /><br />
        {{#each UT}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
    </div>

    {{!-- V --}}
    <div class="margin-left">
        <a name="stateV"><h4>V</h4></a><br />

        <a href="/sitePage1?stateSearch=US-VT">Vermont</a><br /><br />
        {{#each VT}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>

        <a href="/sitePage1?stateSearch=US-VA">Virginia</a><br /><br />
        {{#each VA}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>

    {{!-- W --}}
    <div class="margin-left">
        <a name="stateW"><h4>W</h4></a><br />

        <a href="/sitePage1?stateSearch=US-WA">Washington</a><br /><br />
        {{#each WA}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-WV">West Virginia</a><br /><br />
        {{#each WV}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-WI">Wisconsin</a><br /><br />
        {{#each WI}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
        
        <a href="/sitePage1?stateSearch=US-WY">Wyoming</a><br /><br />
        {{#each WY}}
        <input type="checkbox" id={{ident}} name="resultListing" value={{ID}}>
        <label for="searchR1">{{name}}</label><br />
        {{/each}}
        <p>&nbsp;</p>
    </div>
</form>

<div class="text-center sticky">
    <form action="#top">
        <input type="submit" value="Top of page">
    </form>
    <p>&nbsp;</p>
</div>

<script src="js\compare.js"></script>
